<!DOCTYPE html>
<html>
<head>
    <title>Upload file</title>
</head>
<container>



  <body style ="align-items: center;justify-content: center;display: flex;">
    <h1 class="text-center">Emotion Analyzer</h1>
    <hr>
    <h2 style="margin-top: 100px;">Upload a selfie to see how you look toady!</h2>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="file">
          <button type="submit" value="Upload" style=" display: inline-block; padding: 2px 24px;font-size: 18px; font-weight: bold;
          text-align: center;
          text-decoration: none;
          background-color: #4CAF50;
          color: #fff;
          border-radius: 4px;
          transition: background-color 0.3s ease-in-out;">Upload</button>
      </form>

      {% if message %}
        <img  style="width: 200px; height: 150px;" src="{{ MEDIA_URL }}/{{link}}">
      {% endif %}

      {% if message %}
		<div class="row mt-4">
			<div class="col-lg-6 mx-auto">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Result</h4>
						<h2 class="card-text">{{predicted}}</h2>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
      
  </body>
</container>
</html>
